/* common.scss */

body {
    background: $secondary-color;
}
main {
    margin: 0 20px 20px 20px;
    height: calc(100vh - 170px) !important;
    background: rgba(255, 255, 255, .6);
    overflow: auto !important;
}

.orbit-bullets {
    text-align: left;
    padding-left: 20px;
    button {
        width: 10px;
        height: 10px;
        background: transparent;
        border: 1px solid $accent-color;
        &.is-active {
            background-color: $border-color;
        }
    }
}
