/* homepage.scss */
.homepage {
    .pm-hero {
        .col-1 {
            .grid-y {
                .cell {
                    &.pm-intro {
                        padding: 20px 40px;
                    }
                    &.pm-bucket {
                        &:nth-child(even) {
                            padding-right: 20px;
                            padding-left: 35%;
                        }
                        &:nth-child(odd) {
                            padding-right: 30%;
                            padding-left: 20px;
                            border-bottom: none;
                        }
                    }
                }
            }
        }
        .col-2 {
            .grid-frame {
                > .cell {
                    height: 50%;
                    &.pm-bucket {
                        border-top: 1px solid $secondary-color;
                        border-right: 1px solid $secondary-color;
                        border-bottom: 1px solid $secondary-color;
                        text-shadow: 0 1px 0 $black;
                        &.pm-bucket__facilitators {

                            border-bottom: none;
                            background-image: url('../../assets/img/charmaine_pat_faded.png'), linear-gradient(-5deg, #5F892C, #D9DF87);
                            background-repeat: no-repeat;
                            background-position: left top;
                            background-size: cover;
                        }
                        &.pm-bucket__testimonials {
                            min-height: 250px;

                            background-image: url('../../assets/img/thumbs_up_sky_faded.png'), linear-gradient(65deg, #1B56A0, #16366C);
                            background-repeat: no-repeat;
                            background-position: left top;
                            .button {
                                float: right;

                                color: $white;
                                .fa {
                                    margin-left: 10px;
                                }
                                &:hover {
                                    color: $secondary-color;
                                }
                            }
                            blockquote {
                                &.pm-quote {
                                    color: $white;
                                }
                                cite {
                                    color: $white;
                                    span {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
