/* variables.scss */

$primary-color  : #C4AD8F;
$secondary-color: #EFEFD4;
$tertiary-color : #8B903D;
$accent-color   : #2C1126;

$border-color   : #F2F2F8;
$black          : #222222;
$white          : #FFFFFF;
